/* .App {
  text-align: center;
} */

body {
  background-color: #222;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.intro__wrapper {
  color: #b8b8b8;
  margin: 45px auto 0 auto;
  width: 650px;

}

.shell__wrapper {
  width: 650px;
  margin: 65px auto 0 auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.shell__top__bar {
  text-align: center;
  color: #525252;
  padding: 5px 0;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  font-size: 12px;
  border: 1px solid #ccc;
  border-bottom: none;

  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  background: #f7f7f7; /* for older browsers */
  background: -moz-linear-gradient(top, #f7f7f7 0%, #b8b8b8 100%); /*ff3.6+*/
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #b8b8b8)); /*Chrome & Safari 4+ */
  background: -o-linear-gradient(top, #f7f7f7 0%, #b8b8b8 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(top, #f7f7f7 0%, #b8b8b8 100%); /* ie10+ */
  background: linear-gradient(to bottom, #f7f7f7 0%, #b8b8b8 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#b8b8b8', GradientType=0); /*ie6-9 */

}

.shell__body {
  margin: 0;
  padding: 5px;
  height: 350px;
  list-style: none;
  background: #141414;
  color: #45d40c;
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;

  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
}

.shell__body li:before {
  content: '$';
  position: absolute;
  left: 0;
  top: 0;
}

.shell__body li {
  word-wrap: break-word;
  position: relative;
  padding: 0 0 0 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
